<!DOCTYPE html>
<html>
	<head>
		<title>
			Keep Talking and No One Explodes
		</title>
		<link rel="stylesheet" href="../static/css/index.css">
		<link rel="stylesheet" href="../static/css/navigation.css">
		<script src="../app/jquery-3.3.1.min.js"></script>
		<script src="../static/js/pageControl.js"></script>
		<script src="../static/js/index.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="logo"></div>
		</div>
		<div class="content">
			<div class="upperContainer">
				<div class="navOp op1"><div class="opText">Wires</div></div>
				<div class="navOp op2"><div class="opText">Button</div></div>
				<div class="navOp op3"><div class="opText">Symbols</div></div>
				<div class="navOp op4"><div class="opText">Simon Says</div></div>
				<div class="navOp op5"><div class="opText">Who's on First</div></div>
				<div class="navOp op6"><div class="opText">Memory</div></div>
				<div class="navOp op7"><div class="opText">Morse</div></div>
				<div class="navOp op8"><div class="opText">Complex Wires</div></div>
				<div class="navOp op9"><div class="opText">Sequence</div></div>
				<div class="navOp op10"><div class="opText">Maze</div></div>
				<div class="navOp op11"><div class="opText">Password</div></div>
			</div>
			<div class="middleContainer">
				<div class="mainContent">
					<div class="sideTab inventory sTab1">
						<div class="topTab tab1 wires">
							<form id="wires" action="">
								<input type="radio" name="numWires" id="numWires3" value=3>
								<label for="numWires3">3 Wires</label>
								<input type="radio" name="numWires" id="numWires4" value=4>
								<label for="numWires4">4 Wires</label>
								<input type="radio" name="numWires" id="numWires5" value=5>
								<label for="numWires5">5 Wires</label>
								<input type="radio" name="numWires" id="numWires6" value=6>
								<label for="numWires6">6 Wires</label>
								<br>
								<div class="selectContainer"></div>
								<input type="submit">
								<input type="reset">
							</form>
						</div>
						
						<div class="topTab tab2 button">
							<form id="button">
								<label for="buttonColor">Button Color</label>
								<select name="buttonColor" id="">
									<option value="blue">Blue</option>
									<option value="Red">Red</option>
									<option value="White">White</option>
									<option value="Yellow">Yellow</option>
									<option value="Black">Black</option>
								</select>
								<label for="buttonLabel">Button Label</label>
								<select name="buttonLabel" id="">
									<option value="abort">Abort</option>
									<option value="detonate">Detonate</option>
									<option value="hold">Hold</option>
									<option value="press">Press</option>
								</select>
								<input type="submit">
								<input type="reset">
							</form>
						</div>
						
						<div class="topTab tab3 symbols">
							<form id="symbols">
								
								<input type="submit">
								<input type="reset">
							</form>
                        </div>
                        
						<div class="topTab  tab4 simon">
							<form id="simon">
								
								<input type="submit">
								<input type="reset">
							</form>
						</div>
                        
						<div class="topTab tab5 first">
							<form id="first">
								
							</form>
							<input type="submit">
							<input type="reset">
                            
						</div>
                        
						<div class="topTab tab6 memory">
							<form id="memory">
								<input type="submit">
								<input type="reset">
								
							</form>
							
						</div>
                        
						<div class="topTab tab7 morse">
							<form id="morse">
								
								<input type="submit">
								<input type="reset">
							</form>
                            
						</div>
                        
						<div class="topTab tab8 complex">
							<form id="complex">
								
								<input type="submit">
								<input type="reset">
							</form>
                            
						</div>
                        
						<div class="topTab tab9 sequence">
							<form id="sequence">
								
								<input type="submit">
								<input type="reset">
							</form>
                            
						</div>
                        
						<div class="topTab tab10 maze">
							<form id="maze">
								<table>
									
								</table>
								<input type="submit">
								<input type="reset">
							</form>
                            
						</div>
                        
						<div class="topTab tab11 password">
							<form id="password">
								
								<input type="submit">
								<input type="reset">
							</form>
                            
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
